

<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital@1&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Spectral:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">

h1{
    background-color: bisque;
    color: cadetblue;
    text-align: left;
    font-weight: bold;
    font-family: "Work Sans",sans-serif;
    font-size: 55px; 
    font-style: Normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
    padding: 1em 0;
    margin: 0 0 1em 0;}

    img { width:60%;
    height: 30%;
    alignment: center;}


h2 {
    background-color: peru;
    color: beige;
    text-align: left;
    padding: 1em 0;
    margin: 0.25em 0 1em 0;
    }

h3{
    color: brown;
    text-decoration:dotted;
    text-transform: bold;
}

p{font-size: 14px;}


p.container{ font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color:gray;
}

#style1 {

}
container{}
